<EngineConfig>
	<!-- Main window configuration -->
	<Window>
		<Width>1280</Width>
		<Height>720</Height>
		<Title>Trillek Prototype</Title>
	</Window>
	<!-- Settings for the graphics device -->
	<Graphics>
		<OpenGLMajor>4</OpenGLMajor>
		<OpenGLMinor>3</OpenGLMinor>
		<Vsync>on</Vsync>
	</Graphics>
	<!-- Tell the asset loader where to look for models -->
	<Assets>
		<ModelDir>../Models</ModelDir>
	</Assets>
</EngineConfig>